html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans";
}

body {
    background-color: rgb(255, 246, 234);
}

div.heading {
    display: flex;
    background-color: rgb(255, 246, 234);
    border-radius: 10px;
}

div.heading .logo img {
    border-radius: 13px;
}

div.heading .logo {
    margin-left: 8px;
    height: px;
    width: auto;
}

div.heading .logo h2 {
    font-size: 6px;
    color: #adadad;
    margin-left: 9px
}

div.heading .user {
    display:;
    margin-right: 8px;
    height: 50px;
    width: 50px;
    margin-left: auto;
    border-radius: 25px;
}

div.heading h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 12.69px;
    margin : auto;
    border-radius: 25;
}

 img.banner_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    height: auto;
    border-radius: 20px;
}   

div.Categories .danhsach ul {
    list-style: none;
}

div.Categories .danhsach ul a{
    text-decoration:  none;
    color: #ffffff;
}

.Pho {
    display: flex;
    margin-right: 18px;
}

.Pho img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 15px;
}

.Pho span {
    margin-top: 3px;
}

div.Categories .danhsach ul .Pho {
    width: 70px;
    padding: 18px;
    background-color: #F35369;
    border-radius: 30px;
    margin-bottom: 30px;
    transition: 0.5s;
}

div.Categories .danhsach ul .Wide {
    width: 135px;
}

div.Categories .danhsach ul .Pho:hover {
    background-color: #bd1b31;
}

div.Categories .danhsach ul{
    display: flex;
}


.bg {
    box-shadow: 0 5px 20px 0px rgb(0 0 0 / 20%), 0 13px 24px -11px rgb(233 30 99 / 60%);
    background-color: #ffffff;
    width: 203px;
    height: 274px;
    border-radius: 20px;
}

.food_item {
    text-align: center;
    line-height: 0.1;
}

.food_item img {
    border-radius: 20px;
    width: 135px;
    height: 162px;
}

.danhsach ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-left: 12px;
}

.food_item {
    font-size: 125%;
}

.food_item h6 {
    color:rgb(92, 92, 92);
    line-height: 0.4;
}


.danhsach {
    overflow-x: scroll;
    overflow-y: hidden;
    }


    .dsduoi {
        margin-top: 12.69px;
    }

    .dsduoi ul li {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    .dsduoi ul li a {
        text-decoration: none;
        color: #bd1b31;
    }

    div.heading h1 {
        text-transform: uppercase;
            font-family: rogfonts-regular,Xolonium,sans-serif;
            font-weight: 400;
            line-height: 1.2em;
            background: linear-gradient(to left,#ff98ea 0 ,#c572ff 20%,#655cfc 40%,#0ff 60%,#f0ffc4 80%,#ff98ea 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% auto;
            animation: rainbow 5.69s linear infinite;
        }
    
        @keyframes rainbow {
            0% {background-position: 0 50%;}
            100% {background-position: 200% 50%;}
        }


        .nhung {
            display: none;
            bottom:0;
            position: fixed;
            width: 100%;
            height:100%;
            z-index: 2;
        }