.navigation {
    background-image: linear-gradient(to right, #ef32d9, #89fffd);
    height: 40px;
    animation: 5s linear infinite;
    background-clip:  inherit;
}

.navigation .list ul a {
    margin-left: auto;
    text-decoration: none;
    text-transform: uppercase;
    color: brown;
    padding: 15px;
}

.neonGay span {
    font-size: 69px;
    text-transform: uppercase;
    font-family: rogfonts-regular,Xolonium,sans-serif;
    transition: 0.6s;
}

.neonGay span:hover {
    font-size: 70px;
    text-transform: uppercase;
        font-family: rogfonts-regular,Xolonium,sans-serif;
        /*font-weight: 400;*/
        line-height: 1.2em;
        background: linear-gradient(to left,#ff98ea 0 ,#c572ff 20%,#655cfc 40%,#0ff 60%,#f0ffc4 80%,#ff98ea 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% auto;
        animation: rainbow 3.5s linear infinite;
    }

    @keyframes rainbow {
        0% {background-position: 0 50%;}
        100% {background-position: 200% 50%;}
    }


    .box {
        height: 85px;
        box-shadow: 0 5px 20px 0px rgb(0 0 0 / 20%), 0 13px 24px -11px rgb(233 30 99 / 60%);
    }
